html, body {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #444;
  color: #FFFFFF;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.topnav li {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 18px;
}

.topnav li:hover {
  background-color: #222;
}

.gamesContainer {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game {
  height: 300px;
  width: 200px;
  background-color: white;
  display: inline-block;
  vertical-align: top;
  color: black;
  padding: 5px;
  margin: 5px;
}

.right {
	float: right;
}

.left {
	float: left;
}

a {
  color: white;
  text-decoration: none;
}

.redRPS {
  float: right;
  height: 170px;
  width: 170px;
}

.blueRPS {
  height: 170px;
  width: 170px;
}

.blueChoice {
  position: absolute;
  height: 170px;
  width: 170px;
  left: 32%;
}

.redChoice {
  position: absolute;
  height: 170px;
  width: 170px;
  right: 32%;
}

.score {
  text-align: right;
  margin: 5px auto 5px 5px;
}

.spaceShip {
  position: absolute;
  height: 10%;
  width: 20%;
  z-index: 2;
}
.planet {
  position: absolute;
  height: 20%;
  width: 20%;
  transform: translate(-50%, -50%);
}
#redPlanet {
  top: 75%;
  left: 15%;
}
#purplePlanet {
  top: 35%;
  left: 80%;
}
#greenPlanet {
  top: 15%;
  left: 35%;
}

.RPSGrid {
  height: all;
  width: all;
}








