<div ng-controller="rock-paper-scissorsController">
<h2 class="score"> Highest Streak: {{ highestStreak }} </h2>
<h2 class="score"> Current Streak: {{ currentStreak }} </h2>
<img class="blueRPS" ng-click="choosePlay('blue', 'Rock')" src="graphics/blueRock.png">
<img class="redRPS" ng-click="choosePlay('red', 'Rock')" src="graphics/redRock.png">
<br>
<img class="blueRPS" ng-click="choosePlay('blue', 'Paper')" src="graphics/bluePaper.png">

<img class="blueChoice" ng-if="play==='blueRock' || enemyPlay==='blueRock'" src="graphics/blueRock.png">
<img class="blueChoice" ng-if="play==='bluePaper' || enemyPlay==='bluePaper'" src="graphics/bluePaper.png">
<img class="blueChoice" ng-if="play==='blueScissors' || enemyPlay==='blueScissors'" src="graphics/blueScissors.png">
<img class="redChoice" ng-if="play==='redRock' || enemyPlay==='redRock'" src="graphics/redRock.png">
<img class="redChoice" ng-if="play==='redPaper' || enemyPlay==='redPaper'" src="graphics/redPaper.png">
<img class="redChoice" ng-if="play==='redScissors' || enemyPlay==='redScissors'" src="graphics/redScissors.png">

<img class="redRPS" ng-click="choosePlay('red', 'Paper')" src="graphics/redPaper.png">
<br>
<img class="blueRPS" ng-click="choosePlay('blue', 'Scissors')" src="graphics/blueScissors.png">
<img class="redRPS" ng-click="choosePlay('red', 'Scissors')" src="graphics/redScissors.png">
</div>