<div ng-controller="rock-paper-scissorsController">
<h1> {{ text }} </h1>
<img class="blueRPS" ng-click="aler()" src="graphics/blueRock.png">
<img class="redRPS" ng-click="aler()" src="graphics/redRock.png">
<br>
<img class="blueRPS" ng-click="aler()" src="graphics/bluePaper.png">
<img class="redRPS" ng-click="aler()" src="graphics/redPaper.png">
<br>
<img class="blueRPS" ng-click="aler()" src="graphics/blueScissors.png">
<img class="redRPS" ng-click="aler()" src="graphics/redScissors.png">
</div>